	<div class = "well">
		In order to win in the future, the GOP must gain amongst constituencies other than the rich.
	</div>
	<ul class = "agree hList">
		<li class = "buyIn">
			<div class = "btn btn-primary btn-block">
				Agree
			</div>
		</li>
		<li class = "boughtIn">
			<ul class = "boughtInUsers hList">
				<li class = "userAgreeBox">
				</li>
				<li class = "userAgreeBox">
				</li>
				<li class = "userAgreeBox">
				</li>
			</ul>
		</li>
	</ul>
	<ul class = "disagree hList">
		<li class="buyIn">
			<div class = "btn btn-danger btn-block">
				Disagree
			</div>
		</li>
		<li class = "boughtIn">
			<ul class = "disagreeUsers hList">
				<li class = "userDisagreeBox">
				</li>
				<li class = "userDisagreeBox">
				</li>
				<li class = "userDisagreeBox">
				</li>
			</ul>
		</li>
	</ul>
